<!DOCTYPE html>
<html lang="es">
<%- include('./partials/headBostrap') %>

<body class="home">
  <%- include('./partials/header') %>

  <main class="home__main">
    <div id="video">
      <video loop muted autoplay poster="">
        <source src="/video/presentacion.mp4" type="video/mp4" />
      </video>
      <div class="content"></div>
    </div>
    <div class="home__tablet">
      <div class="home__principal">
        <div class="home__main__carrousel__foto"></div>

        <section class="home__main__atajos">



          <article class="card card1">

            <a href="/product/anillos">
              <div class="card__content">
                <h3 class="card__title">Anillos</h3>
                <p class="card__description"> Cada persona es única y eso la hace irremplazable y valiosa en sí misma. Nuestros anillos son así, irremplazables, como tú...</p>
              </div>
            </a>
          </article>
          <article class="card card2">

            <a href="/product/pulseras">
              <div class="card__content">
                <h3 class="card__title">Pulseras</h3>
                <p class="card__description">Déjate llevar por este complemento que define tu personalidad y le da el estílo único y maravilloso que hemos creado para tu deleite...</p>
              </div>
            </a>
          </article>
          <article class="card card3">

            <a href="/product/relojes">
              <div class="card__content">
                <h3 class="card__title">Relojes</h3>
                <p class="card__description">"Tempus Fugit", "El tiempo no para", y tú tampoco. Encuentra entre nuestro catálogo de relojes los mas finos y sofisticados diseños...</p>
              </div>
            </a>
          </article>

          <article class="card card4">

            <a href="/product/aritos">
              <div class="card__content">
                <h3 class="card__title">Aritos</h3>
                <p class="card__description">Conoce nuestros delicados y sofisticados diseños en oro, plata, piedras preciosas y mas...</p>
              </div>
            </a>
          </article>
          <article class="card card5">

            <a href="/product/collares">
              <div class="card__content">
                <h3 class="card__title">Collares</h3>
                <p class="card__description">Los mas delicados diseños para lucir colgando en tu cuello y sentirte la reina de todo lugar...</p>
              </div>
            </a>
          </article>

          </article>


          <article class="home__main__atajos__mas">
            <form action="/product">
              <button type="submit">Ver todo en joyería </button>
            </form>

          </article>
        </section>
      </div>
    </div>
    <div id="slider">
      <figure>
      <img src="/images/home/carousel/Banner 1.jpg" alt="">
      <img src="/images/home/carousel/Banner 2.jpg" alt="">
      <img src="/images/home/carousel/Banner 3.jpg" alt="">
      <img src="/images/home/carousel/Banner 5.jpg" alt="">

      </figure>
      </div>
    <h3 class="home_destacados">DESTACADOS</h3>

    <section class="home_cards2">
      <% for( let index = 0; index <= 3; index++ ) { %>
      <article>
        <div class="tarjeta2 ">
          <h4><%= products[index].name %> </h4>
          <div class="home__contenedor2">
            
            <p><%= products[index].discount%>  % off</p>
            <% products[index].images.forEach(image => { %>
              <% if (image.primary) { %>
                <img src="/images/products/<%= image.name%> " alt="imagePrimary"/>
              <% } %>
            <% }) %>
           

          </div>
          <div class="tarjeta__pie2">
            <h6>u$s<%= products[index].price %> </h6>
            <button><a href="/product/detail/<%= products[index].id %> ">ver más</a></button>
          </div>
        </div>
      </article>
      <% } %>


    </section>
<hr>
    <section class="home__main__fuente">
      <div class="home__main__fuente__texto">
        <h3>De la fuente</h3>
        <p>
          La fabricación artesanal de los mejores diamantes del munco comienza
          con saber de dónde vienen. Estamos orgullosos de rastrear el 100% de
          nuestros diamantes en bruto hasta minas y fuentes conocidas
        </p>
      </div>
      <div class="caja_diamante">
        <video class="diamante" loop muted autoplay poster="">
          <source src="/video/diamondring.mp4" type="video/mp4" />
        </video>
      </div>
    </section>
    <hr>
    <section class="home__main__lonuevo">
      <a href="">
        <h3>Lo nuevo de Aphrodite</h3>
      </a>
    </section>

    <section class="home__main__cuotas">
      <marquee behavior="" direction="" scrollamount="3">
        PAGÁ EN 3 Y 6 CUOTAS SIN INTERES CON VISA, MASTER Y AMEX DESDE
        15.000$</marquee>
    </section>
  </main>


  <%- include('./partials/footerBoostrap') %>
</body>

</html>