<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main class="mainEdit">
        <h2>Edici칩n de productos</h2>
        <section class="sectionForm">
         
            
            <form class="boxEditForm" method="POST" action="/product/update/<%= product.id %>?_method=PUT"
                enctype="multipart/form-data" >
                <h3><%= product.name %> </h3>

                <article class="art">
                    <div class="formEdit">
                        <label for="nameProduct">Nombre:</label>
                        <input class="editFormInputName" type="text" id="name" name="name" value="<%= product.name %>">
                        <span class="alert-products"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                    </div>
                    <div class="formEdit">
                        <label class="formSelectOption" for="category">Categoria:</label>
                        <select class="selectForm" name="category" id="category">
                            <option hidden value="" >Seleccione uno...</option>
                            <% categories.forEach(category=> { %>
                                <option value=<%= category.id %>  <%= product.categoryId === category.id && 'selected' %>><%= category.name %> 
                                </option>
                            <% }) %>
                            <span class="alert-products"><%= locals.errors && errors.category ? errors.category.msg : null %> </span>
                        </select>
                    </div>
                </article>
                <div class="formEdit">
                    <label class="formSelectOption" for="materials"> Material:</label>
                    <select class="selectForm" name="materials" id="materials">
                        <option hidden value="" >Seleccione uno...</option>
                        <% materials.forEach(material=> { %>
                            <option value=<%= material.id %>  <%= product.materialId === material.id && 'selected' %>><%= material.name %> 
                            </option>
                        <% }) %>
                        
                        <span class="alert-products"><%= locals.errors && errors.materials ? errors.materials.msg : null %> </span> 
                    </select>
                </div>


                <article class="artDos">

                    <div class="formEdit">
                        <label for="unidades">Unidades:</label>
                        <input class="editFormInputUni" type="number" name="unidades" id="unidades" value="<%= product.units %>">
                        <span class="alert-products"><%= locals.errors && errors.units ? errors.units.msg : null %> </span>
                    </div>

                    <div class="formEdit">
                        <label for="price">Precio:</label>
                        <input class="editFormInputPrecio" type="number" name="price" id="price" value="<%= product.price %>">
                        <span class="alert-products"><%= locals.errors&& errors.price ? errors.price.msg : null %> </span>
                    </div>

                </article>
                <article>
                    <div class="formEdit">
                        <label class="formSelectOption" for="size">Talles</label>
                        <select class="selectFormTalle" name="size" id="size">
                            <option hidden selected value="">Seleccione uno:</option>
                            <% sizes.forEach(size=> { %>
                                <option value=<%= size.id %>  <%= product.sizeId === size.id && 'selected' %>><%= size.name %> 
                                </option>
                            <% }) %>
                            
                        </select>
                        <span class="alert-products"><%= locals.errors && errors.size ? errors.size.msg : null %> </span>
                    </div>
                </article>
                <article class="art">

                    <div class="formEdit">
                        <label class="labelArea" for="description">Descripci칩n:</label>

                        <textarea class="textarea__clase" name="description" rows="10" cols="50"
                            placeholder="Descripci칩n del producto..."><%= product.description %></textarea>
                            <span class="alert-products"><%= locals.errors && errors.description ?  errors.description.msg : null %></span>
                    </div>
                    <div class="formEdit">
                        <label for="nameProduct">Cargar Im치gen</label>
                        <input class="editFormInputFile" type="file" id="image" name="image" accept="image/*">
                    </div>
                    <div class="boxButton">
                        <button class="buttonEdit" type="submit">Editar</button>
                    </div>
                </article>


            </form>
            <div>
             <img src="/images/products/<%= product.images[0].name%> " alt="imagenPoducto">    
            </div>
           
        </section>
        <%- include('./partials/footer') %>
</body>

</html>