<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body class="main__productos">
  <%- include('./partials/header') %> 

  <main >
    <div class="buscador_productos">
    <div class="search__container">
      <form action="/product/result" method="GET" >
      <input class="search__input" name="keyword" type="text" placeholder=" Search">
    </form>
  </div>
</div>
  

    <h2 class="titulo__productos">Anillos</h2>

    
   
  <section class="home_cards">

    <% arrayAnillos.forEach(({id, name, price, images, discount, units}) => { %>
      <a href="/product/detail/<%= id %> ">

      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <% images.forEach(image => { %>
                  <% if (image.primary) { %>
                    <img  class="img" id="imagen" src="/images/products/<%= image.name%> " alt="imagePrimary"/>
                  <% } %>
                <% }) %>
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-company"><%= name %> </span>
                  </div>
                  <div class="a-size">Disponibles: <span class="size"><%= units %> </span></div>
                </div>
              </div>
      
              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>
      
                <a class="cart" href="#">
                  <span class="price">$<%= price %> </span>
                  <span class="add-to-cart">
                    <span class="txt"> Ver m치s</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <% }) %>
     
  
    </section>
    
    <h2  class="titulo__productos">Relojes</h2>
   
  <section class="home_cards">

    <% arrayRelojes.forEach(({id, name, price, images, discount,sizeId, units}) => { %>
      <a href="/product/detail/<%= id %> ">

        <div class="container page-wrapper">
          <div class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <% images.forEach(image => { %>
                    <% if (image.primary) { %>
                      <img  class="img" id="imagen" src="/images/products/<%= image.name%> " alt="imagePrimary"/>
                    <% } %>
                  <% }) %>
                  <div class="img-info">
                    <div class="info-inner">
                      <span class="p-company"><%= name %> </span>
                    </div>
                    <div class="a-size">Disponibles: <span class="size"><%= units %> </span></div>
                  </div>
                </div>
        
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
        
                  <a class="cart" href="#">
                    <span class="price">$<%= price %> </span>
                    <span class="add-to-cart">
                      <span class="txt"> Ver m치s</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% }) %>
     
  
    </section>

    
    <h2  class="titulo__productos" >Pulseras</h2>
   
  <section class="home_cards">

    <% arrayPulseras.forEach(({id, name, price, images,discount, units}) => { %>
      <a href="/product/detail/<%= id %> ">

        <div class="container page-wrapper">
          <div class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <% images.forEach(image => { %>
                    <% if (image.primary) { %>
                      <img  class="img" id="imagen" src="/images/products/<%= image.name%> " alt="imagePrimary"/>
                    <% } %>
                  <% }) %>
                  <div class="img-info">
                    <div class="info-inner">
                      <span class="p-company"><%= name %> </span>
                    </div>
                    <div class="a-size">Disponibles:<span class="size"><%= units %> </span></div>
                  </div>
                </div>
        
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
        
                  <a class="cart" href="#">
                    <span class="price">$<%= price %> </span>
                    <span class="add-to-cart">
                      <span class="txt"> Ver m치s</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% }) %>

  
    </section>


       
    <h2  class="titulo__productos">Collares</h2>
   
  <section class="home_cards">

    <% arrayCollares.forEach(({id, name, price, images,discount, units}) => { %>
      <a href="/product/detail/<%= id %> ">

        <div class="container page-wrapper">
          <div class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <% images.forEach(image => { %>
                    <% if (image.primary) { %>
                      <img  class="img" id="imagen" src="/images/products/<%= image.name%> " alt="imagePrimary"/>
                    <% } %>
                  <% }) %>
                  <div class="img-info">
                    <div class="info-inner">
                      <span class="p-company"><%= name %> </span>
                    </div>
                    <div class="a-size">Disponibles:<span class="size"><%= units %> </span></div>
                  </div>
                </div>
        
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
        
                  <a class="cart" href="#">
                    <span class="price">$<%= price %> </span>
                    <span class="add-to-cart">
                      <span class="txt"> Ver m치s</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% }) %>
     
  
    </section>
     
  </main>

   <%- include('./partials/footer') %> 
</html>