<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main class="mainEdit">
        <h2>Edici칩n de productos</h2>
        <section class="sectionForm">
         
            
            <form class="boxEditForm" method="POST" action="/product/update/<%= product.id %>?_method=PUT"
                enctype="multipart/form-data" id="form" >
                <h3><%= product.name %> </h3>
                <span class="alert-products" id="errorForm"> </span>

                <article class="art">
                    <div class="formEdit">
                        <label for="nameProduct">Nombre:</label>
                        <input class="editFormInputName" type="text" id="name" name="name" value="<%= product.name %>">
                        <span class="alert-products" id="errorName"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                    </div>
                    <div class="formEdit">
                        <label class="formSelectOption" for="categoryId">Categoria:</label>
                        <select class="selectForm" name="categoryId" id="categoryId">
                            <option hidden value="" >Seleccione uno...</option>
                            <% categories.forEach(category=> { %>
                                <option value=<%= category.id %>  <%= product.categoryId == category.id && 'selected' %>><%= category.name %> 
                                </option>
                            <% }) %>
                            <span class="alert-products" id="errorCategory"><%= locals.errors && errors.category ? errors.category.msg : null %> </span>
                        </select>
                    </div>
                </article>
                <div class="formEdit">
                    <label class="formSelectOption" for="materialId"> Material:</label>
                    <select class="selectForm" name="materialId" id="materialId">
                        <option hidden value="" >Seleccione uno...</option>
                        <% materials.forEach(material=> { %>
                            <option value=<%= material.id %>  <%= product.materialId == material.id && 'selected' %>><%= material.name %> 
                            </option>
                        <% }) %>
                        
                        <span class="alert-products" id="errorMaterial"><%= locals.errors && errors.materials ? errors.materials.msg : null %> </span> 
                    </select>
                </div>


                <article class="artDos">

                    <div class="formEdit">
                        <label for="unidades">Unidades:</label>
                        <input class="editFormInputUni" type="number" name="units" id="units" value="<%= product.units %>">
                        <span class="alert-products" id="errorUnits"><%= locals.errors && errors.units ? errors.units.msg : null %> </span>
                    </div>

                    <div class="formEdit">
                        <label for="price">Precio:</label>
                        <input class="editFormInputPrecio" type="number" name="price" id="price" value="<%= product.price %>">
                        <span class="alert-products" id="errorPrice"><%= locals.errors&& errors.price ? errors.price.msg : null %> </span>
                    </div>
                    <div class="formEdit">
                        <label for="price">Descuento:</label>
                        <input class="editFormInputPrecio" type="number" name="discount" id="discount" value="<%= product.discount%>">
                        <span class="alert-products" id="errorDiscount"><%= locals.errors&& errors.discount ? errors.discount.msg : null %> </span>
                    </div>


                </article>
                <article>
                    <div class="formEdit">
                        <label class="formSelectOption" for="sizeId">Talles</label>
                        <select class="selectFormTalle" name="sizeId" id="sizeId">
                            <option hidden selected value="">Seleccione uno:</option>
                            <% sizes.forEach(size=> { %>
                                <option value=<%= size.id %>  <%= product.sizeId == size.id && 'selected' %>><%= size.name %> 
                                </option>
                            <% }) %>
                            
                        </select>
                        <span class="alert-products" id="errorSize"><%= locals.errors && errors.size ? errors.size.msg : null %> </span>
                    </div>
                </article>
                <article class="art">

                    <div class="formEdit">
                        <label class="labelArea" for="description">Descripci칩n:</label>

                        <textarea class="textarea__clase" name="description" rows="10" cols="50"
                            placeholder="Descripci칩n del producto..." id="description"><%= product.description %></textarea>
                            <span class="alert-products" id="errorDescription"><%= locals.errors && errors.description ?  errors.description.msg : null %></span>
                    </div>
                    <div class="formEdit">
                        <label for="nameProduct">Cargar Im치gen</label>
                        <input class="editFormInputFile" type="file"  id="images" name="image" accept="image/*" multiple>
                        <span class="alert-products" id="errorImages"></span>
                    </div>
                    <div class="boxButton">
                        <button class="buttonEdit" type="submit">Editar</button>
                    </div>
                </article>


            </form>
            <div>
                <% if (product.images) { %>
                    <% product.images.forEach(image => { %>
                        <% if (image.primary) { %>
                          <img src="/images/products/<%= image.name%> " alt="imagePrimary"/>
                        <% } %>
                      <% }) %>
                <% } %>
  
            </div>
           
        </section>
        <script src="/JavaScript/addProductsValidator.js"></script>
        <%- include('./partials/footer') %>
</body>

</html>