<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
  <main>
    <div class="buscador_productos">
       <form action="/product/result" method="GET"  >
      <input type="text" name="keyword" placeholder="Buscar un producto... "> 
      <button type="submit">Buscar</button> 
      </form>
    </div>
   
  <section class="home_cards">

    <% products.forEach(({id, name, price, img1}) => { %>
      <article>
        <div class="tarjeta tarjeta1">
          <h4><%= name %> </h4>
          <div class="home__contenedor">
            <p>10% off</p>
            
            <img src="/images/products/<%= img1 %> " alt="destacados1" />
        
          </div>
          <div class="tarjeta__pie">
            <h6>u$s 5<%= price %> </h6>
            <button><a href="/product/detail/<%= id %> ">ver más</a></button>
          </div>
        </div>
      </article>
    <% }) %>
     
  
    </section>
  </main>

   <%- include('./partials/footer') %> 
</html>