<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main class="mainEdit">
        <h2>Edici칩n de productos</h2>
        <section class="sectionForm">
         
            
            <form class="boxEditForm" method="POST" action="/product/update/<%= product.id %>?_method=PUT"
                enctype="multipart/form-data" >
                <h3><%= product.name %> </h3>

                <article class="art">
                    <div class="formEdit">
                        <label for="nameProduct">Nombre:</label>
                        <input class="editFormInputName" type="text" id="name" name="name" value="<%= product.name %>">
                        <span class="alert-products"><%= locals.errors && errors.name ? errors.name.msg : null %> </span>
                    </div>
                    <div class="formEdit">
                        <label class="formSelectOption" for="category">Categoria:</label>
                        <select class="selectForm" name="category" id="category">
                            <option hidden value="" >Seleccione uno...</option>

                            <option value="pulseras" <%= product.category === "pulseras"&& 'selected' %>>Pulseras
                            </option>
                            <option value="collares" <%= product.category=== "collares"&& 'selected' %>>Collares
                            </option>
                            <option value="anillos" <%= product.category === "anillos"&& 'selected' %>>Anillos</option>
                            <option value="relojes" <%= product.category === "relojes" && 'selected' %>>Relojes</option>
                            <span class="alert-products"><%= locals.errors && errors.category ? errors.category.msg : null %> </span>
                        </select>
                    </div>
                </article>
                <div class="formEdit">
                    <label class="formSelectOption" for="materials"> Material:</label>
                    <select class="selectForm" name="materials" id="materials">
                        <option hidden selected value="">Seleccione uno:</option>
                        <option value="oro" <%= product.materials === "oro" && 'selected' %>>Oro</option>
                        <option value="plata" <%= product.materials === "plata" && 'selected'%>>Plata</option>
                        <span class="alert-products"><%= locals.errors && errors.materials ? errors.materials.msg : null %> </span>
                    </select>
                </div>


                <article class="artDos">

                    <div class="formEdit">
                        <label for="unidades">Unidades:</label>
                        <input class="editFormInputUni" type="number" name="unidades" id="unidades" value="<%= product.unidades %>">
                        <span class="alert-products"><%= locals.errors && errors.unidades ? errors.unidades.msg : null %> </span>
                    </div>

                    <div class="formEdit">
                        <label for="price">Precio:</label>
                        <input class="editFormInputPrecio" type="number" name="price" id="price" value="<%= product.price %>">
                        <span class="alert-products"><%= locals.errors&& errors.price ? errors.price.msg : null %> </span>
                    </div>

                </article>
                <article>
                    <div class="formEdit">
                        <label class="formSelectOption" for="size">Talles</label>
                        <select class="selectFormTalle" name="size" id="size">
                            <option hidden selected value="">Seleccione uno:</option>
                            <option value="xl" <%= product.size === "xl" && 'selected'%>>XL</option>
                            <option value="l" <%= product.size === "l" && 'selected'%>>L</option>
                            <option value="m" <%= product.size === "m" && 'selected'%>>M</option>
                            <option value="s" <%= product.size === "s" && 'selected'%>>S</option>
                            <option value="xs" <%= product.size === "xs" && 'selected'%>>XS</option>
                        </select>
                        <span class="alert-products"><%= locals.errors && errors.size ? errors.size.msg : null %> </span>
                    </div>
                </article>
                <article class="art">

                    <div class="formEdit">
                        <label class="labelArea" for="description">Descripci칩n:</label>

                        <textarea class="textarea__clase" name="description" rows="10" cols="50"
                            placeholder="Descripci칩n del producto..."><%= product.description %></textarea>
                            <span class="alert-products"><%= locals.errors && errors.description ?  errors.description.msg : null %></span>
                    </div>
                    <div class="formEdit">
                        <label for="nameProduct">Cargar Im치gen</label>
                        <input class="editFormInputFile" type="file" id="image" name="image" accept="image/*">
                    </div>
                    <div class="boxButton">
                        <button class="buttonEdit" type="submit">Editar</button>
                    </div>
                </article>


            </form>
            <div>
             <img src="/images/products/<%= product.img1%> " alt="imagenPoducto">    
            </div>
           
        </section>
        <%- include('./partials/footer') %>
</body>

</html>