<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
  <main>
 <section>
       <h2 class="resultados__titulo">Resultados para la búsqueda: "<%= keyword %>"</h2>
   </section>

    <section class="home_cards">
  
   <br>
   <section class="home_cards">

    <% results.forEach(({id, name, price, images, discount, units}) => { %>
      <a href="/product/detail/<%= id %> ">

      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <% images.forEach(image => { %>
                  <% if (image.primary) { %>
                    <img  class="img" id="imagen" src="/images/products/<%= image.name%> " alt="imagePrimary"/>
                  <% } %>
                <% }) %>
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-company"><%= name %> </span>
                  </div>
                  <div class="a-size">Disponibles: <span class="size"><%= units %> </span></div>
                </div>
              </div>
      
              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>
      
                <a class="cart" href="#">
                  <span class="price">$<%= price %> </span>
                  <span class="add-to-cart">
                    <span class="txt"> Ver más</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <% }) %>
     
  
  
  
    </section>
  </main>

   <%- include('./partials/footer') %> 
</html>