<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
  <main>
 <section>
       <h2 class="resultados__titulo">Resultados para la búsqueda: "<%= keyword %>"</h2>
   </section>

    <section class="home_cards">
  
   <br>
  <% results.forEach(({id, name, price, discount, images}) => { %>
      
    
        <article>
        <div class="tarjeta tarjeta1">
          <h4> <%=name%> </h4>
          <div class="home__contenedor">
            <% if (discount>0) { %>
              <p><%= discount %>% off</p>
            <% } %>
            <% images.forEach(image => { %>
              <% if (image.primary) { %>
                <img src="/images/products/<%= image.name%> " alt="imagePrimary"/>
              <% } %>
            <% }) %>
      
          </div>
          <div class="tarjeta__pie">
            <h6> u$s <%= price %> </h6>
            <button><a href="/product/detail/<%= id %> ">ver más</a></button>
          </div>
        </div>
      </article>
   
  <% }) %>
    
  
    </section>
  </main>

   <%- include('./partials/footer') %> 
</html>