<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body class="categories_body">
    <%- include('./partials/header') %>
    <table class="table_categories">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>SURNAME</th>
                <th>EMAIL</th>
                <th>GENDER</th>
                <th>DOB</th>
                <th>ROL</th>
                <th></th>
                <th></th>
            </tr>
            <thead>
            <tbody>
                <% users.forEach(({id,name,surname, email,gender,dob,rol}) => { %>

                <tr>
                    <td><%= id %> </td>
                    <td><%= name %> </td>
                    <td><%= surname %> </td>
                    <td><%= email %> </td>
                    <td><%= gender %> </td>
                    <td><%=  `${dob.getDay()}/${dob.getMonth()}/${dob.getYear()}  `%> </td>
                    <td><%= rol %> </td>
                    <td>
                        <div class="editarCategoria">
                            <form action="/users/update/<%= id %>?_method=PUT" method="POST" class="deseos">
                                <button type="submit"><%= rol==="admin" ? 'Guest':'Admin' %> </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <form action="/users/remove/<%= id %>?_method=DELETE" method="POST" class="deseos">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
    </table>



    <%- include('./partials/footer') %>
</body>

</html>